@model Resena

@{
    ViewData["Title"] = "Agregar Resena";
    Layout = "_LayoutUsuario";
}

<section id="general" class="contact">
    <div class="container">
        <div class="section-title">
            <h2>Publica Tus Reseñas</h2>
            <p>En esta página puedes agregar tu reseña sobre el álbum</p>

        </div>
        <form method="post">
            <div class="mb-3">
                <input asp-for="ViniloId" class="form-control" value="@ViewBag.IdProducto" hidden>
            </div>
            <div class="mb-3">
                <label class="form-label">Nombre Usuario</label>
                <input asp-for="Usuario" class="form-control" value="@ViewBag.Nombre">
            </div>
            <div class="mb-3">
                <label class="form-label">Escribe tu comentario:</label>
                <textarea asp-for="Texto" class="form-control" rows="3"></textarea>
            </div>
            <div class="col-6">
                <button asp-action="CreateResena" type="submit" asp-controller="Resena" class="btn btn-warning" style="color: white;" >Agregar Reseña</button>
                <a asp-action="Index" asp-controller="Resena" asp-route-IdProducto="@ViewBag.IdProducto" asp-route-IdUsuario="@ViewBag.IdUsuario" asp-route-Nombre="@ViewBag.Nombre" class="btn btn-outline-warning">Regresar</a>


            </div>
        </form>

    </div>
</section>


